{% extends 'Glancer/base.html' %}

{% block content %}

<section id="features" class="features">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">

                    <h2>Welcome {{ username }}!</h2>
                    <p>First Name: {{ user_object.user.first_name }}</p>
                    <p>Last Name: {{ user_object.user.last_name }}</p>
                    <p>Company: {{ user_object.company.name }}</p>
                    <p>Email: {{ user_object.user.email }}</p>
                    <p>Bio: {{ user_object.bio }}</p>

                </div>

                <div class="col-sm-6">


                    <h3><br><br>Total Glances: {{ glance_number }}</h3>
                    <h3>Giveaway Glances: {{ glance_giveaway }}</h3>
                    <a href="/send/" class="btn btn-outline btn-xl page-scroll">Send a Glance!</a>

                    <p></p>

                    <a href="/history/" class="btn btn-outline btn-xl page-scroll">Glance History</a>

                    <p></p>

                    <a href="/review/" class="btn btn-outline btn-xl page-scroll">Review Company</a>

                </div>
            </div>

        </div>
</section>
{% endblock %}