{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Glancer</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "Glancer/lib/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static "Glancer/lib/font-awesome/css/font-awesome.min.css"%}">
    <link rel="stylesheet" href="{% static "Glancer/lib/simple-line-icons/css/simple-line-icons.css"%}">
    <link rel="stylesheet" href="{% static "Glancer/lib/device-mockups/device-mockups.min.css"%}">

    <!-- Theme CSS -->
    <link href="{% static "Glancer/css/new-age.min.css"%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<nav id="mainNav" style="background-color: purple;" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top">Glancer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                 <li>
                        {% if not authentic %}
                            <a class="" href="/login/">Login</a>

                            {% else %}
                            <a class="" href="/user/{{ user_id.toString }}/">Hi {{ username }}!</a>

                        {% endif %}

                 </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="features" class="features">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">

                    <h2>Welcome {{ username }}!</h2>
                    <p>First Name: {{ user_object.user.first_name }}</p>
                    <p>Last Name: {{ user_object.user.last_name }}</p>
                    <p>Email: {{ user_object.user.email }}</p>
                    <p>Bio: {{ user_object.bio }}</p>

                </div>

                <div class="col-sm-6">


                    <h3><br><br>Total Glances: {{ glance_number }}</h3>
                    <h3>Giveaway Glances: {{ glance_number }}</h3>
                    <a href="/send/" class="btn btn-outline btn-xl page-scroll" style="border-color: purple;width: 220px;color:purple;">Send a Glance!</a>

                    <h3>Glance History:</h3>
                    {% for glance in glance_list %}
                        <ul>
                        <a>{{ glance.date.date }} </a>
                        </ul>
                    {% endfor %}

                </div>
            </div>




        </div>
</section>


</body>
</html>