.navbar-brand{
    font-size: 28px;
}
.navbar{
    background-color: #000;
}

.features{
    background-color: #fff;
}

.bg-primary{
    background: #1b6d85;
}

footer {

    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.main-content {
    min-height: calc(100vh - 88px);
    /* 80px header + 40px footer = 120px  */
}

section{
    padding: 50px 0;
    position: relative;
}

#main-button{
    color: #fff;
    border-color: #f9f2f4;
}

.btn{
    border-color: #1b6d85;
    color: #1b6d85;
}
.btn:hover{
    background-color: #1b6d85;
}

header{
    min-height: 500px !important;
    height: 500px !important;
}
header .header-content .header-content-inner{
    top: 38% !important;
}